<body>
  <h1 class="course" id="primary-standard"><span class="heading">小学部 標準コース</span>
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
  </h1>

  <p class="left">
    <br>
    &emsp;ほめるために毎月、各学年に小さな課題と目標を作ります。
    確認テストの結果などでけじめをつけながら楽しんで取組みます。
    やりきったらほめていき、自信のできた部分にはさらにハードルを高くして、力を伸ばしていきます。
    <br>
    <br>[算数]
    <br>&emsp;小学校で学んでおくべき基礎を「理解する事」に重きを置きます。
    算数が生活する身の回りにある事に気がつくように指導します。
    それが分かれば、理解も深まる事でしょう。
    自信もつきますし、興味がわきます。
    分かる事ができれば後は定着させるための練習が必要です。<br>
    <br>[国語]
    <br>&emsp;言葉の決まりを中心に学んでいきます。
    作者は言葉の決まりに従って気持ちを伝えようとしていますから、
    言葉の決まりを理解する事によって、それを受け取りやすくなっていきます。
    「読み取る力」「論理力」ひいては「考える力」をつけることの養成を
    『考える力養成テキスト/論理エンジン』を使い図っていきます。
    漢字の面白さについては白川静先生の著書「漢字の世界」などを使いながらふれていきます。
    <br><br>
    &emsp;小学英語も気になるところですが、考える全ての元になるものは｢国語｣です。
    しっかりした国語の力、すなわち聞きとる力・読み取る力・考える力・伝える力の養成に重点を置きます。
    今年度は小5・6年生の『英語』は夏期・冬期講習会で「読める・書くことを中心」に取組んでいきます。
    小6は冬期講習会から「中1教科書」の予習として、基本の英単語は書けるようになるまで、覚える工夫や練習に一緒に取組んで行きます。
  </p><br><br>

  <h1 class="course" id="primary-special"><span class="heading">小学部 スーパー標準コース</span>
    <br>(標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
  </h1>

  <p class="left">
    <br>
    <br>[小５算数]
    <br>&emsp;各学年の単元を1１月末までに終了し、１月末まで総復習をした後で、2月より小6学習内容に入ります。
    小６全単元より９単元を選び５月末にはそれも終了します。
    その後は、「差の集まり・割合・規則性・図形(上)など」の中学校入試問題に取組んでいき、
    考える力・文章を読んで整理し理解する力をつけていきます。<br>
    <br>[小６算数]
    <br>&emsp;先ず小６学習内容より９単元を選び、早期に終了させ、まとめをします。
    その後で「各単元の応用編・速さのグラフ・図形(下) など」の中学入試問題にも取組んでいきます。<br>
    <br>[国語]
    <br>&emsp;文章の読解力を基礎から身につける目的で、個別に対応した指導をしていきます。
    「読み取る力」「論理力」ひいては「考える力」をつけることの養成を『考える力養成テキスト/論理エンジン』を使い図っていきます。
    漢字の面白さについては白川静先生の著書「漢字の世界」などを使いながらふれていきます。
    【 名文や百人一首の暗唱大会 】もおりにふれて実施しています。<br>
    <br>[英語]
    <br>&emsp;小学英語も気になるところですが、考える全ての元になるものは｢国語｣です。
    しっかりした国語の力・考える力の養成に重点を置きます。
    小６になってから、英文の暗記チェックは行なっていきますが、授業としては取組みません。
    小6年生の『英語』は夏期講習会で触れ始め、２月から「中1教科書」の予習として取組んで行きます。<br>
    <br>[理科]
    <br>&emsp;【小５・６年生】は中学校1年生の理科の学習単元を選び、実験なども採り入れて、ゆっくり理解をしていきます。
    ものの仕組みを理解してくれることを心掛けます。
    小学校内容については学年ごとのテキストを使い、家庭で覚えて来てもらったものをチェックしていきます。<br>
    <br>[社会]
    <br>&emsp;地理的分野（日本と世界）・歴史的・公民的分野を学習します。
    1週間で学習する内容を家庭学習で覚えてきてもらい、塾でチェックテストをします。
    合格にならなければ、しっかり復習をして再度挑戦となります。
    まずは興味を覚えることから始めて、覚える工夫をつかませることが大事であると考えています。
  </p><br><br>

  <h1 class="course" id="junior-one"><span class="heading">中学部 中１</span>
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
    <br>(小学部 標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
  </h1>

  <p class="left">
    <br>
    『数学・英語』は教科書の予習部分を学習していきます。
    ｢英語｣は予習で理解を深めながら、家庭や塾での復習・練習が必要となってきます。
    英単語は覚えるのにわずかな時間だとしても、まず習慣づけていくことが大事です。<br>
    <br>&emsp;例え、進度遅れが目立ってきたとしても、習慣づける意欲さえあれば、歩みは遅くとも、学力回復は可能です。
    数学学習内容は小学校の算数に担う所が大変多くあります。
    そこにつまずきがあると、理解不足となります。
    そのことで不安にもなり、自信も持てなくなります。
    その場合は時間をかけて、そこの部分を補っていかなければなりません。
    こだわれば必ず分かるようになります。
    理解したその後は、徹底的に練習をすることにより、後に残る本当の力固めとなります。<br>
  </p><br><br>


  <h1 class="course" id="junior-two"><span class="heading">中学部 中２</span>
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(小学部 標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
  </h1>

  <p class="left">
    <br>&emsp;学習単元内容が深く広くなる学年です。
    戸惑う単元も出てくるのでしょうが、自信のつく所も出てきます。
    その時にそこにしっかりこだわって取り組める姿勢ができていれば、自信のつく『単元』では納得できる結果が得られる事となります。
    少しだけ歯を食いしばって、分かりたい気持ちを維持する事が大事です。<br>
  </p><br><br>

  <h1 class="course" id="junior-three"><span class="heading">中学部 中３</span>
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(小学部 標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
  </h1>

  <p class="left">
    <br>&emsp;小さな一つの理解が元気を生み、その元気が次から次へとつながっていきますから、一つの理解にこだわります。
    『数学・英語』は各教科月4回の授業となります。
    内容は予習を中心とした学習となります。
    英数とも月4回となりますが、その内3回は教科書の予習そして１回は復習や確認テストにあてます。
    予習は、学校の授業を分り易くし、自信をつけて学校の授業をより聴けるようになる事を第1目的としますが、
    学習内容を早期に終了する事により，全範囲を繰返し演習する時間が持て､全単元を総合的に理解し定着させられる所にあります。
    月1回は復習に当て、忘れてしまったものや弱点のまま残っている所をチェックし、できていなければ居残りの補習で補っていきます。
    さらに、春・夏・冬の講習会や7月からは『土曜日：国・理・社／復習ゼミ』などで、復習をしっかり入れていきます。
  <br>
  </p><br><br>


