<body>
  <h1 class="course" id="primary-standard"><span class="heading">小学部 標準コース</span>
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
  </h1>

  <p class="left">
     &emsp;ほめるために毎月、各学年に小さな課題と目標を作ります。
     確認テストの結果などでけじめをつけながら楽しんで取組みます。
     やりきったらほめていき、自信のできた部分にはさらにハードルを高くして、力を伸ばしていきます。
    <br>
    <br>算数：
    <br>&emsp;小学校で学んでおくべき基礎を「理解する事」に重きを置きます。
    算数が生活する身の回りにある事に気がつくように指導します。
    それが分かれば、理解も深まる事でしょう。
    <br>&emsp;自信もつきますし、興味がわきます。
    <br>&emsp;分かる事ができれば後は定着させるための練習が必要です。

  </p>

  <h1 class="course" id="primary-special"><span class="heading">小学部 スーパー標準コース</span>
    <br>(標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
  </h1>

  <h1 class="course" id="junior-one"><span class="heading">中学部 中１</span>
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
    <br>(小学部 標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
  </h1>

  <h1 class="course" id="junior-two"><span class="heading">中学部 中２</span>
    <br>(中３は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-three'), class: "move-in" %>)
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(小学部 標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
  </h1>

  <h1 class="course" id="junior-three"><span class="heading">中学部 中３</span>
    <br>(中１は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-one'), class: "move-in" %>)
    <br>(中２は<%= link_to 'こちらへ', guidelines_index_path(anchor: 'junior-two'), class: "move-in" %>)
    <br>(小学部 標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-standard'), class: "move-in" %>)
    <br>(スーパー標準コースは<%= link_to 'こちらへ', guidelines_index_path(anchor: 'primary-special'), class: "move-in" %>)
  </h1>


